
input
{
  margin-top: 5%;
  margin-left: 40%;
  border: 2px solid green;
  border-radius: 8px;
  margin-bottom: 10px;
}

.hover {
  background-color: red;
  td
  {
    background-color: red;
  }
  cursor: pointer;
}

